html {
  font-size: 10px;
  pointer-events: none;
}

body {
  margin: 0;
}

#keyboard {
  width: 100%;
  height: 20rem;
  position: absolute;
  bottom: 0;
  background-color: #ccc;
  pointer-events: auto;
}
