@font-face {
  font-family: 'Keyboard Symbols';
  font-weight: 600;
  src: url('fonts/Keyboard-Symbols.woff');
}

html {
  font-size: 10px;
  /*pointer-events: none;*/
}

body {
  margin: 0;
  overflow: hidden;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Keyboard */
#keyboard {
  position: absolute;
  bottom: 0;
  z-index: 15;
  width: 100%;
  padding: 0.8rem 0;
  border-top: 0.2rem solid;
  -moz-border-top-colors: #0b0b0b #999d9d;
  background-color: #6d7273;
  pointer-events: auto;
}

.row {
  text-align: center;
}

button {
  display: inline-block;
  font-size: 40px;
  width: 32%;
}
